// @import "~bulma";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
$font-stack: 'Raleway', 'Helvetica', 'Arial', sans-serif;


body {
    color: #CCC;
    margin: 0;
    font-family: $font-stack;
}

.hero__background {
    width:100%;
    height:100vh;
    background: url('/src/images/mountain-03.jpg');
    background-size: cover;
    z-index:0;
    position:fixed;
    filter:blur(30px);
    transform: scale(1.1);
}

.hero-body {
    z-index:9999;
    position: relative;
    padding:3em;
}

//Utilities
.v-start {
    align-items:flex-start !important;
}

.hide {
    display:none;
}

.search {
    display:flex;
}

.search__input {
    min-width: 280px;
    border:none;
    border-radius: 2px;
    color: #aaa;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.13);
    -webkit-appearance: none;
    font-size: 20px;
    font-weight: bold;
    padding:1em;
    margin-right: 2em;
}

.search__input:focus {
    outline: none;
}

.search__related {
    width: 100%;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.13);
    padding:0;
    background-color: #FFF;
}

.search__related__list {
    margin:0;
    padding:0;
    display:flex;
    list-style: none;
    width: 100%;
    height:100%;
    justify-content: space-between;
}

.search__related__list__item {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:100%;
    height:100%;
    font-size: 14px;

    &:hover {
        background-color: #ccc;
    }
}