@import "~bulma";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
$font-stack: 'Raleway',
'Helvetica',
'Arial',
sans-serif;
$primary: rgb(255, 102, 102);
$primary-highlight: rgb(255, 176, 176);
$secondary: #1c1c1c;

body {
  background-color: #1c1c1c !important;
  margin: 0;
  font-family: $font-stack;
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

//Navbar
.navbar {
  z-index:9999;
  background-color: $secondary;
  display:none;
  animation: fadeIn ease 0.8s forwards;

  h2 {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
  }

  .divider {
    display:block;
    width:20px;
    background-color: $primary;
    height:2px;
    margin:0 1em 0 1em;
  }

  input {
    border:none;
    color: $secondary;
    border-radius: 2px;
    padding: 0.7em;
    margin:0.3em 0;
    min-width: 280px;
  }
}

//Utilities
.v-start {
  align-items: flex-start !important;
}

.h-end {
  margin-left:auto;
}

.hide {
  display: none;
}


.is-fluid {
  margin:0 !important;
}

.hero__background {
  width: 100%;
  height: 100vh;
  background-color: #1c1c1c;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: fixed;
  transform: scale(1.1);

  &::after {
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}

.hero-body {
  z-index: 1;
  position: relative;
  padding: 3em;
}

.search {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:40%;
  left:25%;
  z-index:99;
  opacity: 1;
  animation: fadeIn 0.8s ease forwards;

  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFF;
  }

  .divider {
    height:2px;
    width:120px;
    background-color: $primary;
    display:block;
    margin-bottom: 1em;
  }
}

.search__input {
  display: flex;
  min-width: 280px;
  border: 2px solid #fff;
  background:transparent;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.13);
  -webkit-appearance: none;
  font-size: 20px;;
  padding: 1em;
  margin-right: 2em;
  transition: min-width 0.3s ease;

  &::placeholder {
    color: #FFF;
  }

  &:focus {
    min-width: 320px;
  }
}

.search__input:focus {
  outline: none;
}

.search__related {
  display:flex;
  padding:1em;

  h3 {
    color: #FFF;
    font-size:18px;
    margin-right: 1em;
    display:block;
  }
}

.search__related__list {
  display: flex;

  li {
    text-align: center;
    display: bl;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    margin-left:1em;
    background-color: $primary;
    color:#FFF;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.5em 1.5em;

    &:hover {
      background-color: $primary-highlight;
    }
  }
}

.search__related__list__item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 14px;

  &:hover {
    background-color: #ccc;
  }
}

.social {
  list-style: none;
  margin: 1em 0 0 0;

  li a {
    color: $primary;
    font-size: 14px;
    
    &:hover {
      color: #FFF;
    }
  }
}

.results {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.results__col {
  width: 33%;
  float:left;
}

.results__col__item {
  overflow: hidden;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.13);
  animation: fadeIn 0.8s ease forwards;
  margin: 0.3em 0.3em 0 0;
  opacity: 0;

  a:hover img {
    transform: scale(1.45);
  }

  img {
    display: block;
    width:100%;
    pointer-events: none;
    transition: transform 0.3s ease;
    transform: scale(1.3);
  }
}

//Animation classes 

.fadeOut {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}